
@{
    ViewBag.Title = "Hidden";
}
<style>
    div {
        line-height: 0;
    }
</style>
@Styles.Render("~/Content/Warcabes.css")
<div id='board'>
</div>
@Scripts.Render("~/Scripts/Warcabes.js")