@model List<SQLExerciser.Models.ViewModel.Seed>

@{
    ViewBag.Title = "Pick";
}
<style>
    .frame {
        border-radius: 25px;
        border: 2px solid #73AD21;
        padding: 20px;
        background-color: white;
    }
</style>
<div style="background-color: aquamarine">
    <h3>Available seeds</h3>
    @if (Model.Count > 0)
    {
        <div class="text-center">
            <img class="img-rounded" src="@Url.Action("ReadImage", "Diagram", new { diagramId = Model.FirstOrDefault().DiagramId  })" 
                 width="300" height="300" />
        </div>
    }
    <table class="text-center col-xs-10 table frame">
        @foreach (var seed in Model)
        {
            <tr style="border-bottom: 1px solid #ddd">
                <td>
                    @foreach (var tab in seed.TableSeeds)
                    {
                        Html.RenderPartial("TableSeed", tab);
                    }
                </td>
                <td>
                    @Html.ActionLink("Remove seed", "Remove", new { id = seed.Id });
                </td>
            </tr>
        }
    </table>
</div>
