@model IEnumerable<IGrouping<int, SQLExerciser.Models.ViewModel.Seed>>
@{
    ViewBag.Title = "GlobalSeeds";
}

<h3>View of all seeds</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Related table</th>
            <th>Seeds</th>
        </tr>
    </thead>
    @foreach (var group in Model)
    {
        <tr>
            <td>
                <img class="img-rounded" src="@Url.Action("ReadImage", "Diagram", new { diagramId = group.Key })" />
            </td>
            <td>
                <table style="padding: 10px; margin: 10px; border: none">
                @foreach (var seed in group)
                {
                    <tr style="margin: 5px;">
                        <td>
                            <table class="text-center">
                                <tr style="border-bottom: 1px solid #ddd">
                                    <td>
                                        <p>@seed.TableSeeds.First().TableName</p>
                                        @foreach (var tab in seed.TableSeeds)
                                        {
                                            Html.RenderPartial("TableSeed", tab);
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = seed.Id }) |
                            @Html.ActionLink("Remove", "Remove", new { id = seed.Id })
                        </td>
                    </tr>
                }
                </table>
            </td>
        </tr>
    }
</table>