@model SQLExerciser.Models.ViewModel.Seed.TableSeed

<table class="table-bordered" style="font-size: large">
    <thead>
        <tr>
            <td>@Model.TableName</td>
        </tr>
        <tr>
            @foreach (var header in Model.TableHeaders)
            {
                <td>@header</td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Rows)
        {
            <tr>
                @foreach (var cell in row)
                {
                    <td>@cell</td>
                }
            </tr>
        }
    </tbody>
</table>
