@model SQLExerciser.Models.ViewModel.FailedSubmission

@{
    ViewBag.Title = "Fail";
}

<h2>Fail</h2>

<p>Your submission was incorrect, reason: <text class="alert">@Model.Result</text></p>
<p>Your query: @Model.Query</p>
<p>@Html.ActionLink("Try once more", "Solve", new { id = Model.Exercise.ExerciseId })</p>
<p>@Html.ActionLink("Back to exercises", "Index")</p>
